* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --aboutColor: rgb(229, 229, 229);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: white;
}

body {
    background-color: #000000;
    max-width: 100vw;
}

::-webkit-scrollbar {
    display: none;
}

/*-------------------ANIMATIONS-----------------------------------*/

@keyframes floatSpace {
    20% {
        transform: scale(1.039) translateX(-1%);
        rotate: 4deg;
    }
    40% {
        transform: scale(0.97) translateX(2%);
    }
    60% {
        transform: scale(1.039) translateX(-1%);
        rotate: -4deg;
    }
    80% {
        transform: scale(0.9897) translateX(2%);
    }

    100% { }
}

@keyframes floatSpaceSubtle {
    20% {
        transform: translateX(-2.30%) translateY(-2.30%);
        rotate: 1deg;
    }
    40% {
        transform: translateX(4.60%) translateY(4.60%);
    }
    60% {
        transform: translateX(-2.30%) translateY(-2.30%);
        rotate: -2deg;
    }
    80% {
        transform: translateX(4.60%) translateY(4.60%);
    }
    100% {

    }
}

@keyframes topDown {
    from {
        transform: translateY(-1000px) rotateY(20deg);
        opacity: 0
    }
    to {
        transform: rotateY(0deg) translateY(0);
        opacity: 1
    }
}

@keyframes rotateInn {
    from {
        transform: rotateY(40deg);
    }
    to {
        transform: rotateY(-50deg)
    }
}

/* ---| Projects |--------------------------------------------------------------------------------------------------- */

#text {
    position: relative;
    animation: topDown 1s linear;
    animation-iteration-count: 1;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2.3rem;
    font-weight: lighter;
    font-family: "Roboto Light", serif;
    perspective: 1512px;
    height: 100vh;
    padding-bottom: 130px;
}

.project-text {
    transform: rotateY(-50deg);
    transition: 0.2s;
    font-family: "Roboto Thin", serif;
    text-align: right;
    cursor: pointer;
    animation: rotateInn 1s linear;
    animation-iteration-count: 1;
    z-index: 2;
}

.project-text:hover {
    transition: 0.2s;
    transform: rotateY(10deg);
}

@media (max-width: 768px) {
    #text {
        font-size: 1.5rem; /* Smaller font size */
        padding-bottom: 50px; /* Less padding at the bottom */
        /* Adjust other properties as necessary for a smaller screen */
    }

    .project-text {
        /* Adjustments for smaller screens */
        transform: rotateY(0); /* Less dramatic initial rotation */
        font-size: 2rem; /* Adjust font size if necessary */
        overflow-wrap:break-word ;
    }
}

/* ---| Navbar |--------------------------------------------------------------------------------------------------- */

p {
    width: 14rem;
    color: #cccaca;
}

#navbar {
    color: ghostwhite;
    mix-blend-mode: difference;
    position: fixed;
    left: 1%;
    top: 1%;
    z-index: 3;
}

#menu {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 768px) {
    #menu{
        flex-direction: row;
        font-size: 0.7rem;
    }
}

#name {
    font-size: 3rem;
}

.logo-nav {
    width: 1.5rem;
}

.menu-nav:hover{
    opacity: 0.7;
}

/*------------------about--------------------------------*/

#section1 {
    position: relative;
    display: flex;
    max-width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: var(--aboutColor);
    padding-bottom: 4rem;
    border-radius: 0 0 3rem 3rem;
}

#about {
    gap: 4rem;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
    align-items: center;
}

#profile-pic-img {
    z-index: 2;
    width: 40%;
}

#about-text {
    font-size: 1.5rem;
    color: #0e0e0e;
    width: 35rem;
}

#about-text-section {
    padding-top: 6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#about-transition {
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 0;
}

#about-contact{
    text-align: center;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:  4rem;
}

.about-contact{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    cursor: pointer;
}
.about-contact:hover{
    opacity: 0.7;
}

.about-contact-img{
    height: 1.5rem;
}


#mail-img-about{
    fill: black;
}

@media (max-width: 768px) {
    #about{
        padding-top: 0;
        flex-direction: column;
        max-width: 100vw;
        gap: 0;

    }
    #about-text{
        margin: 0;
        width: 80vw;
        padding: 40px;
    }
    #profile-pic-img{
        width: 80vw;
    }
}

#cv{
    color: black;
}

#cv:hover {

}

/*------------------techStack---------------*/

#section2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    max-width: 100vw;
    gap: 2rem;
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    z-index: -1;
    max-width: 100vw;
}

#man {
    max-width: 50vw;
    animation: floatSpace 20s infinite linear;
    transition: 0.3s;
}


#stack-title {
    font-size: 4rem;
    font-family: "Fira Code Retina", serif;
}

.logos {

    height: 3rem;
}

#logos-1, #logos-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.logos-info-container {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.13);
    padding: 0.6rem;
    border-radius: 3px;
}

.logos-div {
    color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logos-img {

    height: 4rem;
}

.floatSpaceSubtle {
    animation: floatSpaceSubtle 10s linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.logos-img:hover {
    filter: drop-shadow(0 0 2rem turquoise);
}

#picture-and-logo {
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .logos-info-container{
        visibility: hidden;
        display: none;
    }
}


/*---------------------------CONTACT-----------------------------------*/

#contact-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    image-rendering: crisp-edges;
    max-width: 100vw;
}

#footer {
    height: 3rem;
    background-color: #cccaca;
}
